<div class="flex flex-col h-screen">
    <div class="bg-[#858585] sticky basis-0 p-7 top-0"></div>
    <div class="flex grow basis-0 overflow-y-auto">
        <div class="text-[{{ fontSize }}px] overflow-y-auto p-6 box-border bg-[#D9D9D9] w-[360px] flex flex-col font-['Segoe UI Historic'] font-bold">
            {{#each menus}}
            {{> menu this}}
            {{/each}}         
        </div>
        <div id="targetPage" class="mt-10 ml-10 text-justify">
            <p>Your goal is to find the menu: <span id="helpCenterPromptName" class="font-bold">"{{ promptName }}"</span></p>
            <p>Once you find it, click on it and a Done button will appear below. Good luck!</p>
            <div class="">
                <button id="doneBtn" class="border rounded-lg py-3 px-5 bg-green-500 hidden">Done</button>
            </div>
        </div>
    </div>
</div>
<div id="helpCenterParticipant" class="hidden">{{participantName}}</div>
<div id="helpCenterPromptNo" class="hidden">{{promptNumber}}</div>
<div id="helpCenterShuffledParamCombi" class="hidden">{{shuffledParamCombi}}</div>
