<tr>
    <td class="p-2 border-2 border-black text-center">{{participantName}}</td>
    <td class="p-2 border-2 border-black text-center">{{prompt}}</td>
    <td class="p-2 border-2 border-black text-center">{{fontSize}}</td>
    <td class="p-2 border-2 border-black text-center">{{spaceBetweenMenus}}</td>
    <td class="p-2 border-2 border-black text-center">{{subsectionsCount}}</td>
    <td class="p-2 border-2 border-black text-center">{{pathCount}}</td>
    <td class="p-2 border-2 border-black text-center">{{aveTimeSpent}}</td>
</tr>