<div id="{{ divId }}" menu-id="{{ menuId }}" class="menu cursor-pointer box-border mb-[{{ spaceBetween }}px] ml-[{{ leftPadding }}px] rounded-md">
    <span class="[&:not(:has(:hover))]:hover:bg-gray-400">{{ name }}</span>
</div>