<div id="{{ divId }}" menu-id="{{ menuId }}" class="flex flex-col menu cursor-pointer box-border mb-[{{ spaceBetween }}px] ml-[{{ leftPadding }}px] rounded-md">
    <span class="[&:not(:has(:hover))]:hover:bg-gray-400 menu-button grow rounded box-border select-none">{{ name }}</span>
</div>