<div id="{{ divId }}" menu-id="{{ menuId }}" class="menu cursor-pointer box-border mb-[{{ spaceBetween }}px] ml-[{{ leftPadding }}px] rounded-md">
    <span class="[&:not(:has(:hover))]:hover:bg-gray-400">{{ name }}</span>
</div>


    {{!-- <div id="yourProfile" class="cursor-pointer hidden ml-8 mt-2">
        Your Profile
        <div id="addAndEdit" class="cursor-pointer hidden text-wrap mt-2 ml-8">
            Add and Edit Your Profile Info
        </div>
    </div>
</div>
<div class="cursor-pointer">
    Managing Your Account
</div>
<div class="cursor-pointer">
    Privacy, Safety, and Security
</div>
<div class="cursor-pointer">
    Policies and Reporting
</div> --}}